@charset "utf-8";

/* pc 1024px ~ 1480px */
section .inner {
    width: 1480px;
    margin: 0 auto;
}
.profile-title {
    text-align: center;
    font-size: 48px;
}
.profile-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.profile-img {
    width: 30%;
}
.profile-img img {
    width: 100%;
}
.profile-txt {
    width: 70%;
    font-size: 32px;
}
.hobby-title {
    text-align: center;
    font-size: 48px;
}
.hobby-content {
    display: flex;
    flex-flow: row nowrap;
}
.hobby-img {
    width: 30%;
}
.hobby-img img {
    width: 100%;
}
.hobby-txt {
    width: 70%;
    font-size: 32px;
}

/* 태블릿  761px ~ 1023px */
@media screen and (max-width : 1023px) {
    
}
/* 모바일 320px ~ 760px */
@media screen and (max-width : 760px) {
    
}
